@import "_reset.scss";

// VARIABLES
$primary-color: #2FD023;
$text-color: #292929;

// BASE
html {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: $text-color;
}

// TYPOGRAPHY
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
p {
  line-height: 1.5rem;
}
a {
  color: $primary-color;
}

// FONT HELPERS
.lhp {
  line-height: 1.4;
}
.font-heading {
  font-family: 'Roboto Mono', monospace;
}
.font-heading-alt {
  font-family: 'Share Tech Mono', monospace;
}

// PRISM OVERRIDE
.token {
  &.operator {
    background: none;
  }
}

pre[class*="language-"] {
  margin: 0 !important;
}


code[class*="language-"], pre[class*="language-"] {
  font-family: monospace !important;
  font-size: 0.85rem !important;
  text-shadow: none !important;
}