@import "_reset.scss";

// VARIABLES
$primary-color: #2FD023;
$text-color: #292929;

// BASE
html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: $text-color;
}
body {
  padding: 40px 0;
}

// TYPOGRAPHY
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  line-height: 1.5rem;
}
a {
  color: $primary-color;
}

// FONT HELPERS
.lhp {
  line-height: 1.4;
}
.font-heading {
  font-family: 'Roboto Mono', monospace;
}
.font-heading-alt {
  font-family: 'Share Tech Mono', monospace;
}

// PRISM OVERRIDE
.token {
  &.operator {
    background: none;
  }
}

// PRISM SHOW LANGUAGE PLUGIN
div.code-toolbar {
  position: relative;
}
div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
div.code-toolbar:hover > .toolbar {
  opacity: 1;
}
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}
div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}
div.code-toolbar > .toolbar a {
  cursor: pointer;
}
div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}
